In [2]:
import pandas as pd

df = pd.read_csv("disaster_response_messages_test.csv")
print(df.head())

   id split                                            message  \
0   9  test  UN reports Leogane 80-90 destroyed. Only Hospi...
1  39  test  We are at Gressier we needs assistance right a...
2  49  test                     Delmas 33 in Silo, need water.
3  79  test  SOS SOS, please provide police officers on the...
4  99  test        I am a driver, a mechanic ,. I want to help

                                            original   genre  related  PII  \
0  UN reports Leogane 80-90 destroyed. Only Hospi...  direct        1    0
1    Se gressier nou an difikilte tanpri vin ede nou  direct        1    0
2                      Delma 33 silo gen problem dlo  direct        1    0
3  EMGENCY EMGENCY SI POLIS LA TE KA BAY PREZANS ...  direct        1    0
4  MWEN SE YON NMALIEN, CHOF, MEKANISYEN MWEN BEZ...  direct        1    0

   request  offer  aid_related  ...  aid_centers  other_infrastructure  \
0        1      0            1  ...            0                     0
1        1      0            1  ...            0                     0
2        1      0            1  ...            0                     0
3        1      0            1  ...            0                     0
4        0      1            0  ...            0                     0

   weather_related  floods  storm  fire  earthquake  cold  other_weather  \
0                0       0      0     0           0     0              0
1                1       1      0     0           0     0              0
2                0       0      0     0           0     0              0
3                0       0      0     0           0     0              0
4                0       0      0     0           0     0              0

   direct_report
0              0
1              1
2              1
3              1
4              0

[5 rows x 42 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2629 entries, 0 to 2628
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      2629 non-null   int64
 1   split                   2629 non-null   object
 2   message                 2629 non-null   object
 3   original                1006 non-null   object
 4   genre                   2629 non-null   object
 5   related                 2629 non-null   int64
 6   PII                     2629 non-null   int64
 7   request                 2629 non-null   int64
 8   offer                   2629 non-null   int64
 9   aid_related             2629 non-null   int64
 10  medical_help            2629 non-null   int64
 11  medical_products        2629 non-null   int64
 12  search_and_rescue       2629 non-null   int64
 13  security                2629 non-null   int64
 14  military                2629 non-null   int64
 15  child_alone             2629 non-null   int64
 16  water                   2629 non-null   int64
 17  food                    2629 non-null   int64
 18  shelter                 2629 non-null   int64
 19  clothing                2629 non-null   int64
 20  money                   2629 non-null   int64
 21  missing_people          2629 non-null   int64
 22  refugees                2629 non-null   int64
 23  death                   2629 non-null   int64
 24  other_aid               2629 non-null   int64
 25  infrastructure_related  2629 non-null   int64
 26  transport               2629 non-null   int64
 27  buildings               2629 non-null   int64
 28  electricity             2629 non-null   int64
 29  tools                   2629 non-null   int64
 30  hospitals               2629 non-null   int64
 31  shops                   2629 non-null   int64
 32  aid_centers             2629 non-null   int64
 33  other_infrastructure    2629 non-null   int64
 34  weather_related         2629 non-null   int64
 35  floods                  2629 non-null   int64
 36  storm                   2629 non-null   int64
 37  fire                    2629 non-null   int64
 38  earthquake              2629 non-null   int64
 39  cold                    2629 non-null   int64
 40  other_weather           2629 non-null   int64
 41  direct_report           2629 non-null   int64
dtypes: int64(38), object(4)
memory usage: 862.8+ KB

In [4]:
import pandas as pd

dft = pd.read_csv("disaster_response_messages_training.csv")
print(dft.head())

   id  split                                            message  \
0   2  train  Weather update - a cold front from Cuba that c...
1   7  train            Is the Hurricane over or is it not over
2  12  train  says: west side of Haiti, rest of the country ...
3  14  train             Information about the National Palace-
4  15  train                     Storm at sacred heart of jesus

                                            original   genre  related  PII  \
0  Un front froid se retrouve sur Cuba ce matin. ...  direct        1    0
1                 Cyclone nan fini osinon li pa fini  direct        1    0
2  facade ouest d Haiti et le reste du pays aujou...  direct        1    0
3                Informtion au nivaux palais nationl  direct        0    0
4                        Cyclone Coeur sacr de jesus  direct        1    0

   request  offer  aid_related  ...  aid_centers  other_infrastructure  \
0        0      0            0  ...            0                     0
1        0      0            1  ...            0                     0
2        0      0            0  ...            0                     0
3        0      0            0  ...            0                     0
4        0      0            0  ...            0                     0

   weather_related  floods  storm  fire  earthquake  cold  other_weather  \
0                0       0      0     0           0     0              0
1                1       0      1     0           0     0              0
2                0       0      0     0           0     0              0
3                0       0      0     0           0     0              0
4                1       0      1     0           0     0              0

   direct_report
0              0
1              0
2              0
3              0
4              0

[5 rows x 42 columns]

C:\Users\ACER\AppData\Local\Temp\ipykernel_9248\3996455513.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  dft = pd.read_csv("disaster_response_messages_training.csv")

In [5]:
dft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21046 entries, 0 to 21045
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      21046 non-null  int64
 1   split                   21046 non-null  object
 2   message                 21046 non-null  object
 3   original                8191 non-null   object
 4   genre                   21046 non-null  object
 5   related                 21046 non-null  int64
 6   PII                     21046 non-null  int64
 7   request                 21046 non-null  int64
 8   offer                   21046 non-null  int64
 9   aid_related             21046 non-null  int64
 10  medical_help            21046 non-null  int64
 11  medical_products        21046 non-null  int64
 12  search_and_rescue       21046 non-null  int64
 13  security                21046 non-null  int64
 14  military                21046 non-null  int64
 15  child_alone             21046 non-null  int64
 16  water                   21046 non-null  int64
 17  food                    21046 non-null  int64
 18  shelter                 21046 non-null  int64
 19  clothing                21046 non-null  int64
 20  money                   21046 non-null  int64
 21  missing_people          21046 non-null  int64
 22  refugees                21046 non-null  int64
 23  death                   21046 non-null  int64
 24  other_aid               21046 non-null  int64
 25  infrastructure_related  21046 non-null  int64
 26  transport               21046 non-null  int64
 27  buildings               21046 non-null  int64
 28  electricity             21046 non-null  int64
 29  tools                   21046 non-null  int64
 30  hospitals               21046 non-null  int64
 31  shops                   21046 non-null  int64
 32  aid_centers             21046 non-null  int64
 33  other_infrastructure    21046 non-null  int64
 34  weather_related         21046 non-null  int64
 35  floods                  21046 non-null  int64
 36  storm                   21046 non-null  int64
 37  fire                    21046 non-null  int64
 38  earthquake              21046 non-null  int64
 39  cold                    21046 non-null  int64
 40  other_weather           21046 non-null  int64
 41  direct_report           21046 non-null  int64
dtypes: int64(38), object(4)
memory usage: 6.7+ MB

In [6]:
dfv = pd.read_csv("disaster_response_messages_validation.csv")
print(dfv.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2573 entries, 0 to 2572
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      2573 non-null   int64
 1   split                   2573 non-null   object
 2   message                 2573 non-null   object
 3   original                987 non-null    object
 4   genre                   2573 non-null   object
 5   related                 2573 non-null   int64
 6   PII                     2573 non-null   int64
 7   request                 2573 non-null   int64
 8   offer                   2573 non-null   int64
 9   aid_related             2573 non-null   int64
 10  medical_help            2573 non-null   int64
 11  medical_products        2573 non-null   int64
 12  search_and_rescue       2573 non-null   int64
 13  security                2573 non-null   int64
 14  military                2573 non-null   int64
 15  child_alone             2573 non-null   int64
 16  water                   2573 non-null   int64
 17  food                    2573 non-null   int64
 18  shelter                 2573 non-null   int64
 19  clothing                2573 non-null   int64
 20  money                   2573 non-null   int64
 21  missing_people          2573 non-null   int64
 22  refugees                2573 non-null   int64
 23  death                   2573 non-null   int64
 24  other_aid               2573 non-null   int64
 25  infrastructure_related  2573 non-null   int64
 26  transport               2573 non-null   int64
 27  buildings               2573 non-null   int64
 28  electricity             2573 non-null   int64
 29  tools                   2573 non-null   int64
 30  hospitals               2573 non-null   int64
 31  shops                   2573 non-null   int64
 32  aid_centers             2573 non-null   int64
 33  other_infrastructure    2573 non-null   int64
 34  weather_related         2573 non-null   int64
 35  floods                  2573 non-null   int64
 36  storm                   2573 non-null   int64
 37  fire                    2573 non-null   int64
 38  earthquake              2573 non-null   int64
 39  cold                    2573 non-null   int64
 40  other_weather           2573 non-null   int64
 41  direct_report           2573 non-null   int64
dtypes: int64(38), object(4)
memory usage: 844.4+ KB
None

In [7]:
assert set(df.columns) == set(dfv.columns) == set(dft.columns)

In [8]:
df.duplicated(subset='message').sum()

11

In [9]:
df = df.drop_duplicates(subset='message')

In [10]:
for name, data in zip(['df','dfv','dft'], [df, dfv, dft]):
    print(f"\n{name}")
    print(data[['message','original','genre']].isnull().sum())

df
message        0
original    1612
genre          0
dtype: int64

dfv
message        0
original    1586
genre          0
dtype: int64

dft
message         0
original    12855
genre           0
dtype: int64

In [12]:
non_label_cols = ['id', 'message', 'original', 'genre', 'split']
label_cols = [col for col in df.columns if col not in non_label_cols]
label_cols

['related',
 'PII',
 'request',
 'offer',
 'aid_related',
 'medical_help',
 'medical_products',
 'search_and_rescue',
 'security',
 'military',
 'child_alone',
 'water',
 'food',
 'shelter',
 'clothing',
 'money',
 'missing_people',
 'refugees',
 'death',
 'other_aid',
 'infrastructure_related',
 'transport',
 'buildings',
 'electricity',
 'tools',
 'hospitals',
 'shops',
 'aid_centers',
 'other_infrastructure',
 'weather_related',
 'floods',
 'storm',
 'fire',
 'earthquake',
 'cold',
 'other_weather',
 'direct_report']

In [13]:
df[label_cols].nunique()

related                   3
PII                       1
request                   2
offer                     2
aid_related               2
medical_help              2
medical_products          2
search_and_rescue         2
security                  2
military                  2
child_alone               1
water                     2
food                      2
shelter                   2
clothing                  2
money                     2
missing_people            2
refugees                  2
death                     2
other_aid                 2
infrastructure_related    2
transport                 2
buildings                 2
electricity               2
tools                     2
hospitals                 2
shops                     2
aid_centers               2
other_infrastructure      2
weather_related           2
floods                    2
storm                     2
fire                      2
earthquake                2
cold                      2
other_weather             2
direct_report             2
dtype: int64

In [14]:
for data in [df, dfv, dft]:
    data['related'] = data['related'].replace(2, 1)

In [15]:
df[['PII', 'child_alone']].sum()

PII            0
child_alone    0
dtype: int64

In [16]:
drop_cols = ['PII', 'child_alone']

df.drop(columns=drop_cols, inplace=True)
dfv.drop(columns=drop_cols, inplace=True)
dft.drop(columns=drop_cols, inplace=True)

Recomputing dependent the lists as we drop some columns like PIT and child_alone

In [19]:
non_label_cols = ['id', 'message', 'original', 'genre', 'split']
label_cols = [col for col in df.columns if col not in non_label_cols]

In [20]:
df[label_cols].nunique()

related                   2
request                   2
offer                     2
aid_related               2
medical_help              2
medical_products          2
search_and_rescue         2
security                  2
military                  2
water                     2
food                      2
shelter                   2
clothing                  2
money                     2
missing_people            2
refugees                  2
death                     2
other_aid                 2
infrastructure_related    2
transport                 2
buildings                 2
electricity               2
tools                     2
hospitals                 2
shops                     2
aid_centers               2
other_infrastructure      2
weather_related           2
floods                    2
storm                     2
fire                      2
earthquake                2
cold                      2
other_weather             2
direct_report             2
dtype: int64

In [22]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

nltk.download('stopwords')
nltk.download('wordnet')

stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

def clean_message(text):
    text = text.lower()
    text = re.sub(r'http\S+', '', text)     # remove URLs
    text = re.sub(r'[^a-z\s]', '', text)    # remove numbers & symbols
    text = re.sub(r'\s+', ' ', text).strip()

    tokens = text.split()
    tokens = [lemmatizer.lemmatize(w) for w in tokens if w not in stop_words]

    return ' '.join(tokens)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ACER\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ACER\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [23]:
df['clean_message']  = df['message'].apply(clean_message)
dfv['clean_message'] = dfv['message'].apply(clean_message)
dft['clean_message'] = dft['message'].apply(clean_message)

In [24]:
df[['message','clean_message']].head()

,message,clean_message
0,UN reports Leogane 80-90 destroyed. Only Hospi...,un report leogane destroyed hospital st croix ...
1,We are at Gressier we needs assistance right a...,gressier need assistance right away asap come ...
2,"Delmas 33 in Silo, need water.",delmas silo need water
3,"SOS SOS, please provide police officers on the...",so so please provide police officer street ins...
4,"I am a driver, a mechanic ,. I want to help",driver mechanic want help